.container{
    margin-bottom: 100px;
}
.slide-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    color: white;
    background-image: linear-gradient(180deg, #ff136f, #ff589b);
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    cursor: pointer;
}
.cat-1,.cat-2,.cat-3{
    color: white;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
}
.cat-1{
    background-image: linear-gradient(90deg, #e77a14,#ffc500);
}.cat-2{
    background-image: linear-gradient(90deg, #ff136f, #b90e6c);
}
.cat-3{
    background-image: linear-gradient(90deg, #1488CC,#2B32B2);
}
.card-button{
    color: white;
    background-image: linear-gradient(180deg, #ff136f, #ff589b);
    border: none;
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#Subscribe{
    height: 300px;
}
.mail-section{
    align-items: center;
}