.container{
    margin-bottom: 100px;
}
.slide-bg{
    background-color: #FEEAE9;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    color: white;
    background-image: linear-gradient(180deg, #ff136f, #ff589b);
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    cursor: pointer;
}